.b {
  align-self: stretch;
  position: relative;
  line-height: 49.5px;
  display: inline-block;
  background: linear-gradient(144.12deg, #fc58b3, #feae68);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 20.9px;
  flex-shrink: 0;
  z-index: 0;
}
.totalGraphicChild {
  width: 114px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  height: 124px;
  z-index: 1;
}
.totalGraphic {
  align-self: stretch;
  width: 90px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 44px 22px;
  box-sizing: border-box;
  position: relative;
  gap: 10px;
}
.market {
  margin: 0;
}
.title {
  align-self: stretch;
  position: relative;
}
.div,
.path3Icon {
  position: absolute;
}
.div {
  width: 100%;
  top: calc(50% - 8px);
  left: 0;
  line-height: 30px;
  display: inline-block;
  height: 16px;
}
.path3Icon {
  height: 25%;
  width: 20%;
  top: 43.75%;
  right: 2.86%;
  bottom: 31.25%;
  left: 77.14%;
  border-radius: 0.5px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.number {
  position: absolute;
  width: 28.23%;
  top: calc(50% - 6px);
  right: 71.77%;
  left: 0;
  height: 16px;
}
.graphIcon {
  position: absolute;
  height: 100%;
  width: 50.81%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 49.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  mix-blend-mode: normal;
}
.stats {
  width: 124px;
  position: relative;
  height: 26px;
  font-size: 12px;
  color: #1cd1a1;
}
.statsSection {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
  gap: 2px;
  text-align: left;
  font-size: 16px;
}
.totalCardChild {
  align-self: stretch;
  width: 16px;
  position: relative;
  max-height: 100%;
}
.totalCard {
  width: 308px;
  border-radius: 10px;
  background-color: #1e0338;
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
  height: 164px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: 2;
}
.cardPopoverChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.delete,
.view {
  position: absolute;
  top: 7.6px;
  left: 6.4px;
}
.delete {
  top: 33px;
  left: 7px;
  color: #858585;
}
.cardPopover {
  width: 63px;
  position: absolute;
  margin: 0 !important;
  top: 29px;
  left: 271px;
  height: 55px;
  z-index: 3;
  font-size: 10px;
}
.overviewTotal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 45px;
  text-align: center;
}
.sectionTitleChild {
  position: absolute;
  top: 11px;
  left: 909px;
  width: 16px;
  height: 3.7px;
}
.conversionRateTo {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 213px;
  height: 23px;
}
.sectionTitle {
  width: 925px;
  position: relative;
  height: 23px;
}
.tableColumn1,
.tableColumn2,
.tableColumn3,
.tableColumn4,
.tableColumn5,
.tableColumn6 {
  position: absolute;
  top: 0;
  left: 777px;
  line-height: 163.42%;
  display: inline-block;
  width: 63px;
  height: 25px;
}
.tableColumn1,
.tableColumn2,
.tableColumn3,
.tableColumn4,
.tableColumn5 {
  left: 621px;
  width: 135px;
}
.tableColumn1,
.tableColumn2,
.tableColumn3,
.tableColumn4 {
  left: 466px;
  width: 63px;
}
.tableColumn1,
.tableColumn2,
.tableColumn3 {
  left: 310px;
  width: 135px;
}
.tableColumn1,
.tableColumn2 {
  left: 156px;
  width: 63px;
}
.tableColumn1 {
  left: 0;
  width: 135px;
}
.tableRow3,
.tableRow4,
.tableRow5 {
  position: absolute;
  top: 139.3px;
  left: 0;
  width: 840px;
  height: 25px;
}
.tableRow3,
.tableRow4 {
  top: 104.2px;
}
.tableRow3 {
  top: 69.1px;
}
.tableColumn33,
.tableColumn53 {
  position: absolute;
  top: 0;
  left: 621px;
  line-height: 163.42%;
  display: inline-block;
  width: 95px;
  height: 25px;
}
.tableColumn33 {
  left: 310px;
}
.tableColumn13,
.tableRow2 {
  position: absolute;
  left: 0;
  height: 25px;
}
.tableColumn13 {
  top: 0;
  line-height: 163.42%;
  display: inline-block;
  width: 95px;
}
.tableRow2 {
  top: 34px;
  width: 840px;
}
.tableColumn34,
.tableColumn54 {
  display: inline-block;
  background: linear-gradient(178.18deg, #fd749b, #281ac8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 115px;
}
.tableColumn54 {
  position: absolute;
  top: 0;
  left: 621px;
  height: 23px;
}
.tableColumn34 {
  left: 310px;
}
.table,
.tableColumn14,
.tableColumn34,
.tableRow1 {
  position: absolute;
  top: 0;
  height: 23px;
}
.tableColumn14 {
  left: 0;
  display: inline-block;
  background: linear-gradient(178.18deg, #fd749b, #281ac8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 115px;
}
.table,
.tableRow1 {
  left: 1px;
  width: 736px;
}
.table {
  left: 0;
  width: 840px;
  height: 164.3px;
}
.actionButtonIcon {
  position: absolute;
  top: 75px;
  left: 884px;
  width: 44px;
  height: 44px;
}
.sectionBody {
  width: 928px;
  position: relative;
  height: 164.3px;
  font-size: 12px;
}
.conversionRate,
.statisticsWrapperChild {
  border-radius: 10px;
  background-color: #1e0338;
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
}
.conversionRate {
  align-self: stretch;
  height: 313px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 45px 52px;
  gap: 40px;
  font-size: 16px;
}
.statisticsWrapperChild {
  position: absolute;
  top: -47px;
  left: -51px;
  width: 1027px;
  height: 607px;
  display: none;
}
.horizontalLinesGridIcon,
.verticalLinesGridIcon {
  position: absolute;
  height: 70.59%;
  width: 0.32%;
  top: 24.04%;
  right: 93.58%;
  bottom: 5.37%;
  left: 6.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  mix-blend-mode: normal;
}
.horizontalLinesGridIcon {
  height: 59.06%;
  width: 92.88%;
  top: 23.88%;
  right: 0.91%;
  bottom: 17.06%;
  left: 6.22%;
}
.div1,
.div2,
.div3,
.div4,
.div5,
.div6 {
  position: absolute;
  width: 100%;
  top: calc(50% + 139.5px);
  left: 0;
  line-height: 14px;
  display: inline-block;
  height: 22px;
}
.div2,
.div3,
.div4,
.div5,
.div6 {
  top: calc(50% + 79.5px);
}
.div3,
.div4,
.div5,
.div6 {
  top: calc(50% + 17.5px);
}
.div4,
.div5,
.div6 {
  top: calc(50% - 43.5px);
}
.div5,
.div6 {
  top: calc(50% - 104.5px);
}
.div6 {
  top: calc(50% - 161.5px);
}
.yAxis {
  top: 114px;
  left: 19px;
  width: 17px;
  height: 323px;
}
.bar,
.barLabel,
.yAxis {
  position: absolute;
}
.barLabel {
  width: 100%;
  top: calc(50% + 133.5px);
  left: 0;
  line-height: 16px;
  display: inline-block;
  height: 17px;
}
.bar {
  height: 91.03%;
  width: 35.71%;
  top: 0;
  right: 26.19%;
  bottom: 8.97%;
  left: 38.1%;
  border-radius: 55px 55px 0 0;
  background: linear-gradient(178.18deg, #fd749b, #281ac8);
}
.barContainer {
  position: absolute;
  top: 22px;
  left: 816px;
  width: 42px;
  height: 301px;
}
.barContainer2 {
  position: absolute;
  width: 100%;
  top: calc(50% + 144.5px);
  left: 0;
  line-height: 16px;
  display: inline-block;
  height: 17px;
}
.bar1,
.barContainer1 {
  position: absolute;
  top: 0;
}
.bar1 {
  height: 91.64%;
  width: 38.1%;
  right: 40.48%;
  bottom: 8.36%;
  left: 21.43%;
  border-radius: 55px 55px 0 0;
  background: linear-gradient(178.18deg, #fd749b, #281ac8);
}
.barContainer1 {
  left: 743px;
  width: 42px;
  height: 323px;
}
.barContainer4 {
  position: absolute;
  width: 100%;
  top: calc(50% + 138px);
  left: 0;
  line-height: 16px;
  display: inline-block;
  height: 17px;
}
.bar2 {
  position: absolute;
  height: 91.29%;
  width: 25.76%;
  top: 0;
  right: 37.88%;
  bottom: 8.71%;
  left: 36.36%;
  border-radius: 55px 55px 0 0;
  background: linear-gradient(178.18deg, #fd749b, #281ac8);
}
.barContainer3 {
  position: absolute;
  top: 13px;
  left: 646px;
  width: 66px;
  height: 310px;
}
.barContainer6 {
  position: absolute;
  width: 100%;
  top: calc(50% + 117.5px);
  left: 0;
  line-height: 16px;
  display: inline-block;
  height: 17px;
}
.bar3 {
  position: absolute;
  height: 89.96%;
  width: 35.56%;
  top: 0;
  right: 24.44%;
  bottom: 10.04%;
  left: 40%;
  border-radius: 55px 55px 0 0;
  background: linear-gradient(178.18deg, #fd749b, #281ac8);
}
.barContainer5 {
  position: absolute;
  top: 54px;
  left: 570px;
  width: 45px;
  height: 269px;
}
.barLabel1 {
  position: absolute;
  width: 100%;
  top: calc(50% + 76px);
  left: 0;
  line-height: 16px;
  display: inline-block;
  height: 17px;
}
.bar4 {
  position: absolute;
  height: 85.48%;
  width: 42.11%;
  top: 0;
  right: 42.11%;
  bottom: 14.52%;
  left: 15.79%;
  border-radius: 55px 55px 0 0;
  background: linear-gradient(178.18deg, #fd749b, #281ac8);
}
.barContainer7 {
  position: absolute;
  top: 137px;
  left: 501px;
  width: 38px;
  height: 186px;
}
.barLabel2 {
  position: absolute;
  width: 100%;
  top: calc(50% + 107px);
  left: 0;
  line-height: 16px;
  display: inline-block;
  height: 17px;
}
.barIcon {
  position: absolute;
  height: 89.11%;
  width: 25.4%;
  top: 0.4%;
  right: 44.44%;
  bottom: 10.48%;
  left: 30.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.barContainer8 {
  position: absolute;
  top: 75px;
  left: 407px;
  width: 63px;
  height: 248px;
}
.barLabel3 {
  position: absolute;
  width: 100%;
  top: calc(50% + 123.5px);
  left: 0;
  line-height: 16px;
  display: inline-block;
  height: 17px;
}
.bar5 {
  position: absolute;
  height: 89.68%;
  width: 33.33%;
  top: 0;
  right: 31.25%;
  bottom: 10.32%;
  left: 35.42%;
  border-radius: 55px 55px 0 0;
  background: linear-gradient(178.18deg, #fd749b, #281ac8);
}
.barContainer9 {
  position: absolute;
  top: 42px;
  left: 328px;
  width: 48px;
  height: 281px;
}
.barLabel4 {
  position: absolute;
  width: 100%;
  top: calc(50% + 101.5px);
  left: 0;
  line-height: 16px;
  display: inline-block;
  height: 17px;
}
.bar6 {
  position: absolute;
  height: 88.61%;
  width: 26.23%;
  top: 0;
  right: 42.62%;
  bottom: 11.39%;
  left: 31.15%;
  border-radius: 55px 55px 0 0;
  background: linear-gradient(178.18deg, #fd749b, #281ac8);
}
.barContainer10 {
  position: absolute;
  top: 86px;
  left: 245px;
  width: 61px;
  height: 237px;
}
.barLabel5 {
  position: absolute;
  width: 100%;
  top: calc(50% + 57.5px);
  left: 0;
  line-height: 16px;
  display: inline-block;
  height: 17px;
}
.bar7 {
  position: absolute;
  height: 81.88%;
  width: 39.53%;
  top: 0;
  right: 30.23%;
  bottom: 18.12%;
  left: 30.23%;
  border-radius: 55px 55px 0 0;
  background: linear-gradient(178.18deg, #fd749b, #281ac8);
}
.bar8,
.barContainer11 {
  position: absolute;
  top: 174px;
  left: 169px;
  width: 43px;
  height: 149px;
}
.bar8 {
  height: 90.97%;
  width: 36.96%;
  top: 0;
  right: 28.26%;
  bottom: 9.03%;
  left: 34.78%;
  border-radius: 55px 55px 0 0;
  background: linear-gradient(178.18deg, #fd749b, #281ac8);
}
.bar9,
.barContainer12 {
  position: absolute;
  top: 13px;
  left: 85px;
  width: 46px;
  height: 310px;
}
.bar9 {
  height: 89.96%;
  width: 29.63%;
  top: 0;
  right: 33.33%;
  bottom: 10.04%;
  left: 37.04%;
  border-radius: 55px 55px 0 0;
  background: linear-gradient(178.18deg, #fd749b, #281ac8);
}
.barChartWrapper,
.barContainer13 {
  position: absolute;
  top: 54px;
  left: 0;
  width: 54px;
  height: 269px;
}
.barChartWrapper {
  top: 187px;
  left: 65px;
  width: 858px;
  height: 323px;
}
.infoTitle,
.progressAmount {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.infoTitle {
  width: 76px;
  height: 17px;
  opacity: 0.7;
  mix-blend-mode: normal;
}
.progressAmount {
  width: 39px;
  letter-spacing: 0.3px;
  color: #b327f5;
  height: 14px;
}
.base,
.baseCopy {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 2.5px;
}
.base {
  width: 100%;
  right: 0;
  background-color: #fff;
}
.baseCopy {
  width: 69.23%;
  right: 30.77%;
  background: linear-gradient(178.18deg, #fd749b, #281ac8);
}
.progressBar {
  width: 130px;
  position: relative;
  height: 5px;
}
.popoverInfoBody {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: #f3dbf9;
  width: 153px;
  height: 86px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.statisticClickIndicator {
  position: absolute;
  top: 92px;
  left: 45px;
  width: 59px;
  height: 59px;
}
.statisticDetailPopover {
  position: absolute;
  top: 114px;
  left: 343px;
  width: 153px;
  height: 151px;
  font-size: 10px;
  color: #858585;
}
.tableTitle,
.titleAssesmentReport {
  position: absolute;
  left: 0;
  height: 22px;
}
.titleAssesmentReport {
  width: 100%;
  top: calc(50% - 11px);
  line-height: 25px;
  display: inline-block;
}
.tableTitle {
  top: 69px;
  width: 126px;
}
.menuIcon,
.title1 {
  position: absolute;
  top: 7px;
  left: 909px;
  width: 16px;
  height: 3.7px;
}
.title1 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 82px;
  height: 23px;
}
.view1 {
  position: relative;
}
.menuItem,
.menuItem1,
.menuPopover {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}
.menuItem {
  align-self: stretch;
  border-radius: 4px 4px 0 0;
  background: linear-gradient(179.72deg, #fd749b, #281ac8);
  height: 27px;
  flex-direction: row;
  align-items: center;
  padding: 0 0 0 var(--Space-150);
}
.menuItem1,
.menuPopover {
  background-color: #fff;
}
.menuItem1 {
  align-self: stretch;
  border-radius: 0 0 4px 4px;
  height: 27px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  padding: 0 0 0 var(--Space-150);
  color: #858585;
}
.menuPopover {
  position: absolute;
  top: 17.5px;
  left: 907.5px;
  border-radius: 4px;
  border: 1px solid #efefef;
  width: 64px;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  font-size: 10px;
}
.sectionTitle1 {
  position: absolute;
  top: 0;
  left: 3px;
  width: 925px;
  height: 23px;
  font-size: 16px;
}
.statisticsWrapper {
  width: 928px;
  position: relative;
  height: 510px;
}
.statistics {
  align-self: stretch;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
  height: 604px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title2 {
  width: 116px;
  position: relative;
  display: inline-block;
  height: 23px;
  flex-shrink: 0;
}
.menuIcon1 {
  width: 16px;
  position: relative;
  height: 3.7px;
}
.sectionTitle2 {
  width: 925px;
  height: 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.date {
  position: relative;
  line-height: 163.42%;
}
.tableColHeader1,
.tableColHeader2,
.tableColHeader3 {
  width: 94px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tableColHeader2,
.tableColHeader3 {
  width: 100px;
}
.tableColHeader3 {
  width: 60px;
}
.tableColHeader4 {
  width: 64px;
  justify-content: center;
}
.tableColHeader4,
.tableColHeader7,
.tableRowHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tableColHeader7 {
  width: 112px;
  justify-content: center;
}
.tableRowHeader {
  align-self: stretch;
  border-radius: 100px;
  height: 65px;
  justify-content: space-between;
  gap: 0;
}
.transactionsTable {
  width: 925px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  font-size: 12px;
}
.buttonChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  background: linear-gradient(178.18deg, #fd749b, #281ac8);
  width: 134px;
  height: 42px;
}
.viewMore {
  position: absolute;
  top: 13px;
  left: 23px;
  display: inline-block;
  width: 91px;
  height: 17px;
}
.button {
  width: 134px;
  position: relative;
  height: 42px;
}
.sectionFooter {
  width: 925px;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 10px;
}
.mainContent,
.transactionWrapper,
.transactions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.transactionWrapper {
  width: 1023px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
  height: 559px;
  justify-content: center;
  gap: 28px;
}
.mainContent,
.transactions {
  justify-content: flex-start;
}
.transactions {
  width: 925px;
  font-size: 16px;
}
.mainContent {
  width: 1024px;
  height: 2426px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 45px 0;
  box-sizing: border-box;
  gap: 40px;
  max-width: 1024px;
}
.contentContainer {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.body,
.overview1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.body {
  align-self: stretch;
  flex-direction: row;
}
.overview1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1500px;
  flex-direction: column;
}
.overview {
  width: 100%;
  position: relative;
  background-color: #1e0338;
  height: 2509px;
  overflow: hidden;
  text-align: left;
  font-size: 12px;
  color: #fff;
  font-family: Poppins;
}