.menuIcon {
  width: 15.6px;
  position: relative;
  height: 10px;
}
.menuLabel {
  align-self: stretch;
  width: 99px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.overviewMenu,
.overviewMenuWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.overviewMenu {
  flex: 1;
  gap: 20px;
}
.overviewMenuWrapper {
  align-self: stretch;
  border-radius: 0 var(--Corner-Extra-large) var(--Corner-Extra-large) 0;
  height: 54px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 var(--Space-600) 0 55px;
  box-sizing: border-box;
  cursor: pointer;
}
.b,
.menuIcon1 {
  position: relative;
}
.menuIcon1 {
  width: 14.6px;
  height: 13.1px;
}
.b {
  width: 14px;
  letter-spacing: -0.43px;
  display: inline-block;
  background: linear-gradient(177.77deg, #fd749b, #281ac8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  flex-shrink: 0;
}
.counter,
.tradeMenuWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.counter {
  width: 21px;
  border-radius: var(--Corner-Full);
  background-color: #fff;
  height: 20px;
  justify-content: center;
  padding: 4px 3px;
  text-align: center;
  font-size: 8px;
}
.tradeMenuWrapper {
  align-self: stretch;
  border-radius: 0 var(--Corner-Extra-large) var(--Corner-Extra-large) 0;
  background: linear-gradient(180.89deg, #fd749b, #281ac8);
  height: 54px;
  justify-content: flex-start;
  padding: 0 var(--Space-600) 0 55px;
  cursor: pointer;
}
.menuIcon2 {
  width: 15.3px;
  position: relative;
  height: 11px;
}
.walletMenuWrapper {
  align-self: stretch;
  border-radius: 0 28px 28px 0;
  height: 54px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--Space-600) 0 55px;
  box-sizing: border-box;
  cursor: pointer;
}
.menuIcon3 {
  width: 16px;
  position: relative;
  height: 15.8px;
}
.menuLabel3 {
  align-self: stretch;
  width: 139px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.transactionMenu {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.b1 {
  width: 14px;
  position: relative;
  letter-spacing: -0.43px;
  display: inline-block;
  flex-shrink: 0;
}
.counter1,
.transactionMenuWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.counter1 {
  width: 21px;
  border-radius: var(--Corner-Full);
  background: linear-gradient(178.18deg, #fd749b, #281ac8);
  height: 20px;
  justify-content: center;
  padding: 4px 3px;
  text-align: center;
  font-size: 8px;
}
.transactionMenuWrapper {
  align-self: stretch;
  border-radius: 0 28px 28px 0;
  height: 54px;
  justify-content: flex-start;
  padding: 0 var(--Space-600) 0 55px;
  cursor: pointer;
}
.menuIcon4 {
  width: 10.3px;
  position: relative;
  height: 17.3px;
}
.statisticMenuWrapper {
  align-self: stretch;
  border-radius: 0 var(--Corner-Extra-large) var(--Corner-Extra-large) 0;
  height: 54px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--Space-600) 0 55px;
  box-sizing: border-box;
}
.menuIcon5 {
  width: 16px;
  height: 13.8px;
}
.menuIcon5,
.referral {
  position: relative;
}
.bottomMenu,
.sideNav {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bottomMenu {
  padding: 76px 0 76px 126px;
  gap: 29px;
  font-size: 14px;
}
.sideNav {
  width: 284px;
  background-color: #1e0338;
  border-right: 2px solid #f0f0f0;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: 42px var(--Space-400) 0 0;
  gap: var(--Space-300);
}
.maskGroupIcon {
  width: 36px;
  position: relative;
  height: 36px;
}
.online,
.ramonRidwan {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
}
.online {
  top: 16px;
  font-size: 10px;
}
.userInfo1 {
  width: 94px;
  position: relative;
  height: 40px;
}
.userInfo {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13px;
}
.currentUserWrapper {
  align-self: stretch;
  height: 80px;
  flex-direction: column;
  padding: 24px 10px 16px 35px;
  box-sizing: border-box;
}
.currentUser,
.currentUserWrapper,
.userInfo2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.currentUser {
  align-self: stretch;
  border-bottom: 2px solid #f0f0f0;
  box-sizing: border-box;
  height: 80px;
  flex-direction: column;
}
.userInfo2 {
  flex: 1;
  height: 40px;
  flex-direction: row;
  gap: 13px;
}
.typing {
  position: relative;
  line-height: 24px;
}
.chatIndicator,
.userInfo4,
.userInfoSection {
  align-self: stretch;
  display: flex;
  flex-direction: row;
}
.chatIndicator {
  align-items: center;
  justify-content: center;
  font-size: 10px;
}
.userInfo4,
.userInfoSection {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.userInfo4 {
  flex: 1;
  gap: 13px;
}
.chatIndicator1,
.chatIndicator2,
.counter2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.counter2 {
  width: 21px;
  border-radius: var(--Corner-Full);
  background: linear-gradient(178.18deg, #fd749b, #281ac8);
  height: 20px;
  padding: 4px 3px;
  box-sizing: border-box;
}
.chatIndicator1,
.chatIndicator2 {
  text-align: center;
  font-size: 8px;
}
.chatIndicator1 {
  align-self: stretch;
}
.chatIndicator2 {
  height: 40px;
}
.userInfo8,
.userInfoSection3 {
  align-self: stretch;
  height: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.userInfo8 {
  flex-direction: row;
  gap: 13px;
}
.userInfoSection3 {
  flex-direction: column;
}
.userListWrapper {
  padding: 24px 28px 16px 35px;
  gap: 26px;
}
.userList,
.userListWrapper {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  background: linear-gradient(178.18deg, #fd749b, #281ac8);
  width: 134px;
  height: 42px;
}
.newTrade {
  position: absolute;
  top: 13px;
  left: 23px;
  display: inline-block;
  width: 91px;
  height: 17px;
}
.button {
  width: 134px;
  position: relative;
  height: 42px;
}
.sidebar,
.sidebarBottom {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.sidebarBottom {
  align-items: center;
  text-align: center;
  font-size: 10px;
}
.sidebar {
  width: 262px;
  border-right: 2px solid #f0f0f0;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: 0 0 24px;
}
.line,
.uilinegray {
  position: absolute;
  right: 0;
}
.line {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(178.18deg, #fd749b, #281ac8);
}
.uilinegray {
  height: 12.5%;
  width: 90.99%;
  top: 43.75%;
  bottom: 43.75%;
  left: 9.01%;
}
.unread {
  position: absolute;
  width: 8.34%;
  top: calc(50% - 8px);
  left: 0;
  letter-spacing: 0.38px;
  line-height: 16px;
  text-transform: uppercase;
  display: inline-block;
  background: linear-gradient(178.18deg, #fd749b, #281ac8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.uilinegrayParent {
  position: absolute;
  top: 333px;
  left: 0;
  width: 685.8px;
  height: 16px;
  font-family: Nunito;
}
.bg,
.name,
.text {
  position: absolute;
}
.bg {
  height: 57.83%;
  width: 90.99%;
  top: 33.73%;
  right: 9.01%;
  bottom: 8.43%;
  left: 0;
  border-radius: 10px;
  background-color: #f6f6f6;
}
.name,
.text {
  display: inline-block;
}
.text {
  width: calc(100% - 12.1px);
  top: 42px;
  left: 20px;
  line-height: 22px;
}
.name {
  width: 9.46%;
  top: calc(50% - 41.5px);
  left: 0;
  font-size: 10px;
  line-height: 17px;
  color: #fff;
}
.bg1,
.messageleft {
  position: absolute;
  height: 15.29%;
  width: 69.55%;
  top: 0;
  right: 28.44%;
  bottom: 84.71%;
  left: 2.01%;
}
.bg1 {
  height: 57.83%;
  width: 67.37%;
  top: 33.73%;
  right: 32.63%;
  bottom: 8.43%;
  left: 0;
  border-radius: 10px;
  background-color: #f6f6f6;
}
.name1,
.text1 {
  position: absolute;
  display: inline-block;
}
.text1 {
  width: calc(100% - 202.9px);
  top: 42px;
  left: 20px;
  line-height: 22px;
}
.name1 {
  width: 31.4%;
  top: calc(50% - 41.5px);
  left: 0;
  font-size: 10px;
  line-height: 17px;
  color: #fff;
}
.messageleft1 {
  position: absolute;
  height: 15.29%;
  width: 69.55%;
  top: 36.65%;
  right: 28.44%;
  bottom: 48.07%;
  left: 2.01%;
}
.name2 {
  position: absolute;
  width: 26.5%;
  top: calc(50% - 41.5px);
  left: 0;
  font-size: 10px;
  line-height: 17px;
  color: #fff;
  display: inline-block;
}
.messageleft2 {
  position: absolute;
  height: 15.29%;
  width: 69.55%;
  top: 67.03%;
  right: 28.44%;
  bottom: 17.68%;
  left: 2.01%;
}
.chatPanel {
  align-self: stretch;
  position: relative;
  height: 543px;
}
.placeholder {
  position: absolute;
  width: 22.62%;
  top: calc(50% - 7.8px);
  left: 0;
  letter-spacing: 0.44px;
  line-height: 22px;
  display: inline-block;
}
.path753Icon {
  top: 2.7px;
  left: 0;
  width: 23.2px;
  height: 23.2px;
  object-fit: contain;
}
.btn,
.btn1,
.path753Icon {
  position: absolute;
}
.btn {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100px;
  background: linear-gradient(178.18deg, #fd749b, #281ac8);
}
.btn1 {
  width: calc(100% - 32px);
  top: 6px;
  left: 16px;
  letter-spacing: 0.38px;
  line-height: 22px;
  text-transform: uppercase;
  display: inline-block;
  height: 16px;
}
.uibuttonssqnormal {
  position: absolute;
  height: 100%;
  width: 61.09%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 38.91%;
}
.path753Parent {
  position: absolute;
  top: 0;
  left: 525.5px;
  width: 119.5px;
  height: 30px;
  text-align: center;
  color: #fff;
}
.inputElements {
  width: 645px;
  position: relative;
  height: 30px;
}
.inputField {
  width: 100%;
  border-radius: 100px;
  background-color: #1e0338;
  border: 1px solid #f0f0f0;
  box-sizing: border-box;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 686px;
  color: #bfbfbf;
}
.chatContainer,
.tradeWrapper {
  flex: 1;
  display: flex;
  align-items: center;
}
.chatContainer {
  align-self: stretch;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  gap: 0;
  color: #858585;
}
.tradeWrapper {
  width: 1023px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
}
.mainContent,
.trade2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.trade2 {
  max-height: 686px;
}
.mainContent {
  align-self: stretch;
  width: 1024px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 45px 0;
  box-sizing: border-box;
  gap: 40px;
  max-width: 1024px;
}
.body,
.contentContainer,
.trade1 {
  display: flex;
  align-items: flex-start;
}
.contentContainer {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}
.body,
.trade1 {
  justify-content: flex-start;
}
.body {
  width: 1500px;
  flex: 1;
  flex-direction: row;
}
.trade1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 1190px;
  flex-direction: column;
}
.trade {
  width: 100%;
  position: relative;
  background-color: #1e0338;
  height: 1190px;
  overflow: hidden;
  text-align: left;
  font-size: 12px;
  color: #fff;
  font-family: Poppins;
}