.menuIcon {
  width: 15.6px;
  position: relative;
  height: 10px;
}
.menuLabel {
  align-self: stretch;
  width: 99px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.overviewMenu,
.overviewMenuWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.overviewMenu {
  flex: 1;
  gap: 20px;
}
.overviewMenuWrapper {
  align-self: stretch;
  border-radius: 0 var(--Corner-Extra-large) var(--Corner-Extra-large) 0;
  height: 54px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 var(--Space-600) 0 55px;
  box-sizing: border-box;
  cursor: pointer;
}
.b,
.menuIcon1 {
  position: relative;
}
.menuIcon1 {
  width: 14.6px;
  height: 13.1px;
}
.b {
  width: 14px;
  letter-spacing: -0.43px;
  display: inline-block;
  flex-shrink: 0;
}
.counter,
.tradeMenuWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.counter {
  width: 21px;
  border-radius: var(--Corner-Full);
  background: linear-gradient(178.18deg, #fd749b, #281ac8);
  height: 20px;
  justify-content: center;
  padding: 4px 3px;
  text-align: center;
  font-size: 8px;
}
.tradeMenuWrapper {
  align-self: stretch;
  border-radius: 0 var(--Corner-Extra-large) var(--Corner-Extra-large) 0;
  height: 54px;
  justify-content: flex-start;
  padding: 0 var(--Space-600) 0 55px;
  cursor: pointer;
}
.menuIcon2 {
  width: 15.3px;
  position: relative;
  height: 11px;
}
.walletMenuWrapper {
  align-self: stretch;
  border-radius: 0 28px 28px 0;
  background: linear-gradient(180.89deg, #fd749b, #281ac8);
  height: 54px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--Space-600) 0 55px;
  box-sizing: border-box;
  cursor: pointer;
}
.menuIcon3 {
  width: 16px;
  position: relative;
  height: 15.8px;
}
.menuLabel3 {
  align-self: stretch;
  width: 139px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.transactionMenu,
.transactionMenuWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.transactionMenu {
  flex: 1;
  align-items: flex-start;
  gap: 20px;
}
.transactionMenuWrapper {
  align-self: stretch;
  border-radius: 0 28px 28px 0;
  height: 54px;
  align-items: center;
  padding: 0 var(--Space-600) 0 55px;
  box-sizing: border-box;
  cursor: pointer;
}
.menuIcon4 {
  width: 10.3px;
  position: relative;
  height: 17.3px;
}
.statisticMenuWrapper {
  align-self: stretch;
  border-radius: 0 var(--Corner-Extra-large) var(--Corner-Extra-large) 0;
  height: 54px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--Space-600) 0 55px;
  box-sizing: border-box;
}
.menuIcon5 {
  width: 16px;
  height: 13.8px;
}
.menuIcon5,
.referral {
  position: relative;
}
.bottomMenu,
.sideNav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bottomMenu {
  align-self: stretch;
  padding: 76px 0 76px 126px;
  gap: 29px;
  font-size: 14px;
}
.sideNav {
  width: 284px;
  background-color: #1e0338;
  border-right: 2px solid #f0f0f0;
  box-sizing: border-box;
  height: 2426px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 42px var(--Space-400) 0 0;
  gap: var(--Space-300);
}
.campaignsManagement {
  position: relative;
  white-space: pre-wrap;
}
.triangleIcon {
  position: absolute;
  height: 27.78%;
  width: 4.46%;
  top: 44.44%;
  right: 0;
  bottom: 27.78%;
  left: 95.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.accounts,
.nikeS24 {
  position: absolute;
  top: calc(50% - 9px);
  left: 0;
}
.nikeS24 {
  left: 43.11%;
  text-align: left;
}
.groupChild {
  position: absolute;
  height: 72.22%;
  width: 1.49%;
  top: 11.11%;
  right: 63.33%;
  bottom: 16.67%;
  left: 35.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  mix-blend-mode: normal;
}
.triangleParent {
  width: 201.8px;
  position: relative;
  height: 18px;
  text-align: center;
}
.mainContentNav {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.wallet2 {
  width: 99px;
  position: relative;
  display: inline-block;
  height: 23px;
  flex-shrink: 0;
}
.mainContentTitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
.mainContent {
  width: 1024px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 45px 0;
  box-sizing: border-box;
  gap: 40px;
  max-width: 1024px;
}
.body,
.contentContainer,
.wallet1 {
  display: flex;
  align-items: flex-start;
}
.contentContainer {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}
.body,
.wallet1 {
  justify-content: flex-start;
}
.body {
  width: 1500px;
  height: 652px;
  flex-direction: row;
}
.wallet1 {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
}
.wallet {
  width: 100%;
  position: relative;
  background-color: #1e0338;
  height: 736px;
  overflow: hidden;
  text-align: left;
  font-size: 12px;
  color: #fff;
  font-family: Poppins;
}