.coinbaseIcon,
.path185Icon {
  width: 27.7px;
  position: relative;
  height: 21.4px;
  z-index: 0;
}
.coinbaseIcon {
  height: 11.9px;
  width: 72px;
  z-index: 1;
}
.bitcoin1Icon {
  height: 53.27%;
  width: 8.6%;
  position: absolute;
  margin: 0 !important;
  top: 25.7%;
  right: 81.7%;
  bottom: 21.03%;
  left: 9.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.headerLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 14px 0 0;
  position: relative;
  gap: 6px;
}
.placeholder,
.searchIcon {
  height: 13px;
  width: 13.5px;
  position: relative;
}
.placeholder {
  width: 97px;
  border: 0;
  outline: 0;
  font-family: Poppins;
  font-size: 10px;
  background-color: transparent;
  height: 16px;
  line-height: 24px;
  color: #fff;
  text-align: left;
  display: inline-block;
  opacity: 0.5;
}
.searchBar {
  height: 41px;
  flex: 1;
  border-radius: 100px;
  border: 1px solid #fd749b;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 34px;
  gap: 17px;
  min-width: 200px;
}
.profilePicture {
  width: 36px;
  position: relative;
  border-radius: 50%;
  background-color: #c4c4c4;
  height: 36px;
}
.userName {
  position: relative;
  line-height: 24px;
}
.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 11px;
}
.bellIcon {
  top: 4.2px;
  left: 0;
  width: 12.3px;
  height: 20px;
}
.b,
.bellIcon,
.oval2Icon {
  position: absolute;
}
.oval2Icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b {
  width: 47.95%;
  top: calc(50% - 4px);
  left: 27.4%;
  letter-spacing: -0.43px;
  display: inline-block;
}
.notificationCount {
  position: absolute;
  height: 57.85%;
  width: 69.86%;
  top: 0;
  right: 0;
  bottom: 42.15%;
  left: 30.14%;
}
.notification {
  width: 20.9px;
  position: relative;
  height: 24.2px;
  text-align: center;
  font-size: 6px;
}
.header,
.headerInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headerInfo {
  flex: 1;
  justify-content: flex-start;
  gap: 43px;
  max-width: 670px;
}
.header {
  align-self: stretch;
  height: 83px;
  background-color: #1e0338;
  border-bottom: 2px solid #f7f7f7;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 21px 102px;
  gap: 0;
  text-align: left;
  font-size: 12px;
  color: #fff;
  font-family: Poppins;
}
