.name {
  width: 46.9px;
  position: relative;
  line-height: 17px;
  display: inline-block;
}
.bg,
.text {
  position: absolute;
}
.bg {
  border: 0;
  outline: 0;
  background-color: #f6f6f6;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 451.2px;
  height: 48px;
}
.text {
  top: 14px;
  left: 20px;
  line-height: 22px;
  display: inline-block;
  width: 483.8px;
  z-index: 1;
}
.userMessageContent {
  width: 503.8px;
  height: 48px;
  position: relative;
  font-size: 12px;
  color: #858585;
}
.messageList,
.messageleft {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.messageleft {
  flex-direction: column;
  padding: 0 0 7px;
  gap: 11px;
}
.messageList {
  width: 698.7px;
  flex-direction: row;
  max-width: 100%;
  text-align: left;
  font-size: 10px;
  color: #fff;
  font-family: Poppins;
}
