.menuIcon {
  width: 15.6px;
  position: relative;
  height: 10px;
}
.menuLabel {
  align-self: stretch;
  width: 99px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.overviewMenu,
.overviewMenuWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.overviewMenu {
  flex: 1;
  gap: 20px;
}
.overviewMenuWrapper {
  align-self: stretch;
  border-radius: 0 var(--Corner-Extra-large) var(--Corner-Extra-large) 0;
  background: linear-gradient(180.89deg, #fd749b, #281ac8);
  height: 54px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 var(--Space-600) 0 55px;
  box-sizing: border-box;
  cursor: pointer;
}
.b,
.menuIcon1 {
  position: relative;
}
.menuIcon1 {
  width: 14.6px;
  height: 13.1px;
}
.b {
  width: 14px;
  letter-spacing: -0.43px;
  display: inline-block;
  flex-shrink: 0;
}
.counter,
.tradeMenuWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.counter {
  width: 21px;
  border-radius: var(--Corner-Full);
  background: linear-gradient(178.18deg, #fd749b, #281ac8);
  height: 20px;
  justify-content: center;
  padding: 4px 3px;
  text-align: center;
  font-size: 8px;
}
.tradeMenuWrapper {
  align-self: stretch;
  border-radius: 0 var(--Corner-Extra-large) var(--Corner-Extra-large) 0;
  height: 54px;
  justify-content: flex-start;
  padding: 0 var(--Space-600) 0 55px;
  cursor: pointer;
}
.menuIcon2 {
  width: 15.3px;
  position: relative;
  height: 11px;
}
.walletMenuWrapper {
  align-self: stretch;
  border-radius: 0 28px 28px 0;
  height: 54px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--Space-600) 0 55px;
  box-sizing: border-box;
  cursor: pointer;
}
.menuIcon3 {
  width: 16px;
  position: relative;
  height: 15.8px;
}
.menuLabel3 {
  align-self: stretch;
  width: 139px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.transactionMenu,
.transactionMenuWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.transactionMenu {
  flex: 1;
  align-items: flex-start;
  gap: 20px;
}
.transactionMenuWrapper {
  align-self: stretch;
  border-radius: 0 28px 28px 0;
  height: 54px;
  align-items: center;
  padding: 0 var(--Space-600) 0 55px;
  box-sizing: border-box;
  cursor: pointer;
}
.menuIcon4 {
  width: 10.3px;
  position: relative;
  height: 17.3px;
}
.statisticMenuWrapper {
  align-self: stretch;
  border-radius: 0 var(--Corner-Extra-large) var(--Corner-Extra-large) 0;
  height: 54px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--Space-600) 0 55px;
  box-sizing: border-box;
}
.menuIcon5 {
  width: 16px;
  height: 13.8px;
}
.menuIcon5,
.referral {
  position: relative;
}
.bottomMenu,
.sideNav {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bottomMenu {
  padding: 76px 0 76px 126px;
  gap: 29px;
  font-size: 14px;
}
.sideNav {
  width: 284px;
  background-color: #1e0338;
  border-right: 2px solid #f0f0f0;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: 42px var(--Space-400) 0 0;
  gap: var(--Space-300);
  text-align: left;
  font-size: 12px;
  color: #fff;
  font-family: Poppins;
}