.b {
  align-self: stretch;
  position: relative;
  line-height: 49.5px;
  background: linear-gradient(144.12deg, #fc58b3, #feae68);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 0;
}
.totalGraphicChild {
  width: 114px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  z-index: 1;
}
.totalGraphic,
.totalNumber {
  display: flex;
  justify-content: flex-start;
}
.totalGraphic {
  align-self: stretch;
  width: 90px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: 44px 22px 30px;
  box-sizing: border-box;
  position: relative;
  gap: 10px;
}
.totalNumber {
  height: 124px;
  width: 114px;
  flex-direction: row;
  align-items: center;
}
.title {
  align-self: stretch;
  position: relative;
}
.statNumberContainer {
  height: 16px;
  width: 35px;
  position: relative;
  line-height: 30px;
  display: inline-block;
  flex-shrink: 0;
}
.path2Icon {
  width: 7px;
  height: 4px;
  position: relative;
  border-radius: 0.5px;
  object-fit: contain;
  flex-shrink: 0;
}
.number,
.numberWrapper,
.path2Wrapper,
.statNumberContainerItemParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0 0;
}
.number,
.numberWrapper,
.statNumberContainerItemParent {
  flex-direction: row;
  padding: 0;
}
.number,
.numberWrapper {
  padding: 0 7px 0 0;
}
.numberWrapper {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 3px;
}
.graphIcon {
  height: 26px;
  width: 63px;
  position: relative;
}
.stats {
  width: 124px;
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 19px;
  font-size: 12px;
  color: #1cd1a1;
}
.statsSection {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
  gap: 2px;
  text-align: left;
  font-size: 16px;
}
.cardPopoverButton {
  align-self: stretch;
  width: 16px;
  max-height: 100%;
}
.totalCard {
  height: 164px;
  width: 308px;
  border-radius: 10px;
  background-color: #1e0338;
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 17px 18px;
  z-index: 0;
  text-align: center;
  font-size: 12px;
  color: #fff;
  font-family: Poppins;
}
