.title {
  width: 55px;
  position: relative;
  display: inline-block;
}
.buttonBackground {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 100px;
  background-color: #fff;
  width: 134px;
  height: 42px;
}
.withdrawFunds {
  position: absolute;
  top: 13px;
  right: 27px;
  font-size: 10px;
  font-family: Poppins;
  background: linear-gradient(178.18deg, #fd749b, #281ac8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}
.buttonAction {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 42px;
  width: 134px;
  position: relative;
}
.sectionTitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.walletLogoContainer {
  align-self: stretch;
  width: 170.4px;
  max-height: 100%;
}
.totalEarnings {
  width: 86px;
  position: relative;
  display: inline-block;
}
.infoTitle {
  height: 27px;
  border-radius: 215px;
  background: linear-gradient(138.71deg, #fc58b3, #feae68);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 14px;
  box-sizing: border-box;
}
.description,
.total {
  width: 220px;
  position: relative;
  line-height: 34px;
  display: inline-block;
}
.description {
  width: 255px;
  font-size: 12px;
  line-height: 163.42%;
}
.infoContainer {
  align-self: stretch;
  overflow: hidden;
  padding: 0 0 0 27px;
  gap: 18px;
  font-size: 36px;
}
.infoContainer,
.walletInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.balance {
  width: 51px;
  position: relative;
  display: inline-block;
}
.infoTitle1 {
  height: 27px;
  border-radius: 215px;
  background: linear-gradient(138.71deg, #fc58b3, #feae68);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 11px;
  box-sizing: border-box;
}
.description1,
.total1 {
  position: relative;
  line-height: 45px;
}
.total1 {
  align-self: stretch;
  font-size: 12px;
  line-height: 163.42%;
}
.infoContainer1,
.walletInfoInner {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.infoContainer1 {
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 27px;
  gap: 7px;
  font-size: 36px;
}
.walletInfoInner {
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: 38px;
}
.walletInfoContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.content,
.sectionBody {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.sectionBody {
  flex-direction: row;
  justify-content: space-between;
  padding: 0 74px;
  gap: 0;
  font-size: 12px;
}
.content {
  flex-direction: column;
  justify-content: flex-start;
  z-index: 0;
}
.starsOrnamentIcon {
  width: 902.8px;
  position: absolute;
  margin: 0 !important;
  top: 25px;
  left: 70px;
  height: 250.7px;
  z-index: 1;
}
.backgroundMaskIcon,
.wallet {
  overflow: hidden;
  flex-shrink: 0;
}
.backgroundMaskIcon {
  width: 1192px;
  position: absolute;
  margin: 0 !important;
  top: 220px;
  left: -24px;
  height: 111.4px;
  z-index: 2;
}
.wallet {
  align-self: stretch;
  height: 326px;
  border-radius: 10px;
  background-color: #1e0338;
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 32px;
  position: relative;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: Poppins;
}
